@import "../utils/_variables";
@import "../utils/_mixins.scss";

.fluid-wrapper {
	@include object(100vw,auto,null);
}

.wrapper {
	@include object(calc(100vw - 40px),auto,null);
	max-width: $wrapper-width;
	margin: 0 auto;
}

.row {
	display:grid;
	grid-gap:$gap;
	margin-bottom: 20px;
}

$span: 12 6 4 3 2 1;
$col: 1 2 3 4 6 12;
@for $i from 1 through 6 {
	.span-#{nth($span,$i)} {
		grid-template-columns: repeat(nth($col,$i),1fr);
	}
}

.span-5 {
	grid-template-columns: repeat(5,1fr);
}

$dec: 11 10 9 8 7 6 5 4 3 2 1;	
@for $i from 1 through 11 {
	.span-#{$i}-#{nth($dec,$i)}{
		grid-template-columns: $i+fr nth($dec,$i)+fr;	
	}
}

@media screen and (max-width:480px){
	.row {
		grid-template-columns:1fr;
	}
	.xs-span-6 {
		grid-template-columns: repeat(2,1fr);
	}
}

@media screen and (min-width:481px) and (max-width:567px){
	.s-span-12 {
		grid-template-columns:1fr;
	}
	.s-span-6 {
		grid-template-columns:repeat(2,1fr) ;
	}
	.s-span-4 {
		grid-template-columns:repeat(3,1fr);
	}
	.s-span-3 {
		grid-template-columns:repeat(4,1fr);
	}
	.s-span-2 {
		grid-template-columns:repeat(6,1fr);
	}
}

@media screen and (min-width:568px) and (max-width:767px){
	.m-span-6 {
		grid-template-columns:repeat(2,1fr);
	}
	.m-span-4 {
		grid-template-columns:repeat(3,1fr);
	}
	.m-span-2 {
		grid-template-columns:repeat(6,1fr);
	}
}
@media screen and (min-width:768px) and (max-width:980px){
	.t-span-4 {
		grid-template-columns: repeat(3,1fr);
	}
	.t-span-2 {
		grid-template-columns:repeat(6,1fr);
	}
}
