@import "../utils/_variables";
@import "../utils/_mixins.scss";

.btn {
    @include object(auto, 40px, null);
    cursor: pointer;
    padding: 0 15px;
    border-radius: 4px;
    border-bottom: none;
    display: inline-block;
    text-decoration: none;
    transition: 0.4s ease-in-out;
    color: #fff;
    line-height: 36px;
    font-family: $font;
    font-weight: $regular;
    font-size: $font-base * 2;
}

$classList: primary secondary success warning danger light dark;
$buttonBg: $primary $secondary $success $warning $danger $light-grey $text;
@for $i from 1 through 7 {
    .is-#{nth($classList,$i)} {
        background: nth($buttonBg, $i);
        &:hover {
            box-shadow: 0px 5px 15px rgba(nth($buttonBg,$i),0.4);
            background: darken(nth($buttonBg,$i),5%);
        }
    }
}

$classList: primary secondary success warning danger light dark;
$buttonBg: $primary $secondary $success $warning $danger $light-grey $text;
@for $i from 1 through 7 {
    .is-ghost-#{nth($classList,$i)} {
        border: 1px solid nth($buttonBg, $i);
        color: nth($buttonBg, $i);
        &:hover {
            background: nth($buttonBg,$i);
            color:#fff;
        }
    }
}

.is-light {
    color:$text;
}

.is-ghost-light {
    color:$text;
    &:hover {
        color:$text;
    }
}

.is-uppercase {
    text-transform: uppercase;
    line-height: 40px;    
    font-size: 14px;
}

.is-white {
    border:1px solid #fff;
    &:hover {
        background: #fff;
        color:$text;
    }
}

.is-round {
    border-radius: 40px;
} 

.is-large {
    @include object(auto, 50px, null);
    padding: 0 20px;
    line-height: 48px;
    font-size: $font-base * 2.25;
}

.is-loading {
    color: transparent;
    position: relative;
    width:40px;
    &:last-child::after {
        border-top: 2px solid $text; 
        border-left: 2px solid $text; 
        border-right: 2px solid $text; 
    }
    &::after {
        content:'';
        color:#fff;
        @include object(10px,10px,null);
        @include position(50%,null,null,50%,null,null);
        border: 2px solid transparent;
        border-top: 2px solid #fff; 
        border-left: 2px solid #fff; 
        border-right: 2px solid #fff; 
        border-radius:50%;
        margin: -7px 0 0 -7px;
        animation: load 1s linear infinite;
        @keyframes load {
            100%{ transform: rotate(360deg); }
        }
    }
}

.left-inline-icon {
    i {
        margin-right: 10px;
    }
}

.right-inline-icon {
    i {
        margin-left: 10px;
    }
}

.is-group {
    border-radius: 0;
    &:hover {
        box-shadow: none;
    }
    &:first-child {
        border-radius: 4px 0 0 4px;
    }
    &:last-child {
        border-radius: 0 4px 4px 0;
    }
}