#repos-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 24px;
}

.repo-card {
    display: flex;
    flex-direction: column;
    height: 170px;
    background: var(--color-bg-level-1);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    padding: var(--padding-2);
}
.repo-name {
    @include font(null, normal, calc(var(--vertical-grid-size) * 2.25px), 500, 28px);
    margin-bottom: var(--margin-1);
    a {
        color: var(--color-active);
    }
}
.repo-description {
    @include font(null, normal, calc(var(--vertical-grid-size) * 2px), 300, calc(var(--vertical-grid-size) * 3px));
    color: var(--text-color-light);
}

.repo-card-footer {
    margin-top: auto;
    @include flex(null, space-between);
}

.repo-language {
    @include flex(center, null);
    & > span {
        width: 16px;
        height: 16px;
        border-radius: 50%;
        display: inline-block;
        margin-right: var(--margin-2);
    }
}

.repo-forks,
.repo-language,
.repo-likes {
    @include font(null, normal, calc(var(--vertical-grid-size) * 2px), 500, 17px);
    color: var(--text-color-dark);
    svg {
        margin-right: var(--margin-1);
        path {
            fill: var(--color-active);
        }
    }
}

.repo-forks {
    margin-left: var(--margin-2);
}

.project__card {
    width: 100%;
    min-height: 280px;
    margin-bottom: var(--margin-3);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
}

.project__card__left {
    border-right: 1px solid var(--border-color);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}

.project__card__right {
    padding: var(--padding-2);
    display: flex;
    flex-direction: column;
    h3 {
        font-weight: 600;
        font-size: calc(var(--vertical-grid-size) * 3px);
        line-height: 40px;
        color: var(--text-color-dark);
    }
    p {
        font-style: normal;
        font-weight: 300;
        font-size: calc(var(--vertical-grid-size) * 2px);
        line-height: calc(var(--vertical-grid-size) * 3px);
        color: var(--text-color-light);
    }
    ul {
        margin-top: var(--margin-2);
        display: flex;
        flex-wrap: wrap;
        li {
            margin-bottom: var(--margin-2);
        }
    }
    a {
        margin-right: var(--margin-2);
        height: 40px;
        line-height: 42px;
    }
    div:nth-child(2) {
        margin-top: auto;
    }
}

@media screen and (max-width: 568px) {
    #repos-list {
        grid-template-columns: 1fr;
    }
    .repo-card {
        height: auto;
        .repo-card-footer {
            margin-top: var(--margin-3);
        }
    }
}

@media screen and(max-width: 768px) {
    .project__card {
        grid-template-columns: 1fr;
        min-height: auto;
    }

    .project__card__left {
        height: 280px;
        border-right: none;
    }
}