#repos-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 24px;
}

.repo-card {
    display: flex;
    flex-direction: column;
    height: 170px;
    background: var(--color-bg-level-1);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    padding: var(--padding-2);
}
.repo-name {
    @include font(null, normal, calc(var(--vertical-grid-size) * 2.25px), 500, 28px);
    margin-bottom: var(--margin-1);
    a {
        color: var(--color-active);
    }
}
.repo-description {
    @include font(null, normal, calc(var(--vertical-grid-size) * 2px), 300, calc(var(--vertical-grid-size) * 3px));
    color: var(--text-color-light);
}

.repo-card-footer {
    margin-top: auto; 
    @include flex(null, space-between);
}

.repo-language {
    @include flex(center, null);
    & > span {
        width: 16px;
        height: 16px;
        border-radius: 50%;
        display: inline-block;
        margin-right: var(--margin-2);
    }
}

.repo-language,
.repo-likes,
.repo-forks {
    @include font(null, normal, calc(var(--vertical-grid-size) * 2px), 500, 17px);
    color: var(--text-color-dark);
    svg {
        margin-right: var(--margin-1);
        path {
            fill: var(--color-active);
        }
    }
}

.repo-forks {
    margin-left: var(--margin-2);
}

@media screen and (max-width: 568px) { 
    #repos-list {
        grid-template-columns: 1fr;
    }
    .repo-card {
        height: auto;
        .repo-card-footer {
            margin-top: var(--margin-3);
        }
    }
}