@import 'utils/_variables.scss';
@import "utils/_mixins.scss";

*,
*::after,
*::before {
	box-sizing: border-box;
	text-decoration: none;
	font-family: $font;
}

body {
	background: #f6f9fa;
}

@import "base/_typography.scss";
@import "components/_buttons.scss";
@import "layout/_grid.scss";

nav {
	max-width: 100%;
	display: flex;
	align-items: center;

	a {
		color: #333536;
		font-family: $font;
		font-weight: $bold;
		text-transform: uppercase;
		font-size: 16px;
		position: relative;
		padding-bottom: 5px;
		border-bottom: 2px solid transparent;
		margin: 0 30px 0 0;

		&:after {
			content: '';
			position: absolute;
			right: -15px;
			top: calc(50% - 4px);
			width: 4px;
			height: 4px;
			border-radius: 50%;
			background: #333536;
		}

		&:last-child {
			&:after {
				display: none;
			}
		}
	}
}

.cta {
	width: auto;
	height: 50px;
	background: linear-gradient(to right, #2a8cff 0%, #0066DC 70%);
	border: none;
	background-position: 100% 0;
	background-size: 200% 200%;
	padding: 0 20px 6px;
	position: relative;
	line-height: 50px;
	cursor: pointer;
	border-radius: 4px;
	transition: 0.4s ease-in-out;
	box-shadow: 0 5px 15px rgba(92, 210, 247, 0.5);
}

.cta:hover {
	background-position: 0 0;
}

.cta a {
	color: #fff;
	font-weight: $regular;
	font-size: 18px;
}

.cta span {
	margin-left: 20px;
	color: #fff;
}

#app {
	height: 100vh;
}

.wrapper {
	display: grid;
	align-items: center;

	&.align {
		height: 100vh;
		grid-template-rows: 60px 1fr 60px;
	}
}

.active-link {
	border-bottom: 2px solid #2a8cff;
}

.tag-line {
	width: 100%;
	line-height: 88px;
	font-size: 60px;
	color: #202325;
}

.hero-skills {
	position: relative;
	color: #0066DC;

	&:before {
		content: '';
		position: absolute;
		bottom: 0;
		left: 13px;
		width: calc(100% - 13px);
		height: 50%;
		background: rgba(#000, 0.1);
	}
}

footer {
	padding-left: 100px;
	position: relative;

	&:before {
		content: '';
		width: 80px;
		height: 2px;
		background: #D9D9D9;
		position: absolute;
		left: 0;
		top: calc(50% - 1px);
	}

	a {
		margin-right: 20px;

		&:nth-child(1) {
			color: #EC6298;
		}

		&:nth-child(2) {
			color: #000000;
		}

		&:nth-child(3) {
			color: #1DA1F3;
		}

		&:nth-child(4) {
			color: #323131;
		}

		&:nth-child(5) {
			color: #0077B5;
		}

		&:nth-child(6) {
			color: #FF0000;
		}
	}
}



//CODE

.blue-header {
	height: 320px;
	background: #0066DC;
	color: #fff;

	h1 {
		font-weight: $medium;
		font-size: 60px;
		color: #FFFFFF;
	}

	nav a {
		color: #fff;
		font-weight: $regular;

		&.active-link {
			border-bottom: 2px solid #fff;
		}

		&:after {
			background: #fff;
		}
	}

	.tabs {
		align-self: flex-end;
	}

	button {
		font-family: $font;
		font-weight: $regular;
		border: none;
		color: #fff;
		font-size: 18px;
		background: transparent;
		padding: 0 0 10px 0;
		margin-right: 20px;

		&.activeTab {
			border-bottom: 3px solid #fff;
		}

		&:focus {
			outline: none;
		}
	}
}

//Cards 
.cards {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 20px;
	padding: 40px 0;
	align-items: flex-start;

	.card {
		.info {
			height: auto;
			background: #fff;
			padding: 20px;
			border-radius: 4px;
			border: 1px solid #EAEAEA;
			.title {
				transform: rotate(-2deg) skew(-11.62deg);
				padding-right: 20px;
				span {
					font-style: normal;
					font-weight: 400;
					line-height: normal;
					font-size: 18px;
					color: #FFFFFF;
					display: inline;
					padding: 4px 10px;
					box-decoration-break: clone;
					line-height: 32px;
				}
			}

			.links {
				margin-top: 20px;
				a {
					font-style: normal;
					font-weight: 500;
					line-height: normal;
					font-size: 16px;
					text-transform: uppercase;
					color: #114F5C;
					margin-right: 20px;
				}
			}
		}
	}
}

@media screen and (max-width: 767px) {
	.cards {
		grid-template-columns: repeat(2, 1fr);
	}
	.tag-line {
		line-height: 64px;
		font-size: 48px;
	}
}

@media screen and (max-width: 567px) {
	.cards {
		grid-template-columns: 1fr;
	}
	.tag-line {
		line-height: 48px;
		font-size: 32px;
	}
}