$colors :#42A5F5 #2196F3 #1E88E5 #1976D2 #1565C0;


.loading__container {
    display: flex;
    align-items: center;
    justify-content: center;
}

ul.loading{
	display:flex;
	position:relative;
	width:60px;
	height:15px;
	li {
        width:15px;
        height: 15px;
		border-radius:50%;
		position:absolute;
		left:0;
		transform:translatex(-50%);
		animation:load 1s cubic-bezier(.58,-0.15,.44,1.15) infinite alternate;
		@for $i from 1 through 5{
			&:nth-child(#{$i}){
				background:nth($colors,$i);
				animation-delay:0.1s * $i;
			}
		}
		@keyframes load {
			100%{
				left:100%;
			}
		}
	}
}