@mixin object($width, $height, $background) {
    width: $width;
    height: $height;
    background: $background;
}

@mixin position($top, $right, $bottom, $left, $transX, $transY) {
    position: absolute;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
    transform: translate($transX, $transY);
}