@mixin font($ff, $fSt ,$fs, $fw, $lh){
    font-family: $ff;
    font-style: $fSt;
    font-weight: $fw;
    font-size: $fs;
    line-height: $lh;
}

@mixin objext($w, $maxw, $minw,$h, $maxh, $minh, $bg) {
    width: $w;
    max-width: $maxw;
    min-width: $minw;

    height: $h;
    max-height: $maxh;
    min-height: $minh;

    background: $bg;
}

@mixin flex($ai, $jc) {
    display: flex;
    align-items: $ai;
    justify-content: $jc;
}

@mixin position($t, $r, $b, $l, $zi) {
    position: absolute;
    top: $t;
    right: $r;
    bottom: $b;
    left: $l;
    z-index: $zi;
}