:root {
    --container-width: 980px;
    --blog-container-width: 720px;

    --font: 'HK Grotesk';
    --base-font-size: 8;

    --color-primary: #2158E8;
    --color-secondary: #282C35;
    --color-danger: #FF3E1D;
    --color-success: #9BCA34;
    --color-info: #03C3EC;
    --color-warning: #DFBF14;
    --color-light: #E9E9E9;
    --color-disabled: #AF9A9A;

    --shadow-primary: 0px 16px 30px rgba(33, 88, 232, 0.25);
    --shadow-secondary: 0px 16px 30px rgba(40, 44, 53, 0.25);
    --shadow-danger: 0px 16px 30px rgba(255, 62, 29, 0.25);
    --shadow-success: 0px 16px 30px rgba(155, 202, 52, 0.25);
    --shadow-info: 0px 16px 30px rgba(3, 195, 236, 0.25);
    --shadow-warning: 0px 16px 30px rgba(223, 191, 20, 0.25);

    --border-radius: 6px;
    --border-color: #E9E9E9;

    --margin-1: calc(var(--base-font-size) * 1px);
    --margin-2: calc(var(--base-font-size) * 2px);
    --margin-3: calc(var(--base-font-size) * 3px);
    --margin-4: calc(var(--base-font-size) * 4px);

    --padding-1: calc(var(--base-font-size) * 1px);
    --padding-2: calc(var(--base-font-size) * 2px);
    --padding-3: calc(var(--base-font-size) * 3px);
    --padding-4: calc(var(--base-font-size) * 4px);
}
