//Typography

$regular:300;
$medium:500;
$bold:700;
$black:900;
$font: 'CircularStd', sans-serif;

$font-base: 8px;

//Colors

// Primary Colors
$primary: #0066DC;
$primary-light: #5299EB;
$primary-dark: #0056BA;

// Secondary Colors
$secondary: #FF8484;
$secondary-light: #F58C8C;
$secondary-dark: #E06363;

// Grayscales
$white: #FFF;
$light-grey: #F6F7FB;
$dark-grey: #D0DAE6;

// Alerts
$success: #66C44F;
$warning: #FF7A37;
$danger: #E62254;

//Text
$text: #152A33;

//Grid

$wrapper-width: 980px;
$gap: 20px;